.home-btn {
  transition: all 0.3s ease-in-out;
  background: transparent !important;
}

.home-btn:hover {
  background-color: #f0f0f0; /* Lighter background on hover */
  background: rgb(69, 68, 68) !important;
  transform: scale(1.05); /* Slightly enlarges the button */
  color: white !important;
 }
.about-btn {
  transition: all 0.3s ease-in-out;
}
.about-btn:hover {
  background-color: #f0f0f0; /* Lighter background on hover */
  background: rgb(69, 68, 68);
  transform: scale(1.05); /* Slightly enlarges the button */
  color: white !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px !important;
  padding-bottom: 20px !important;
 
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-logo,
.navbar-link {
  text-decoration: none;
  color: #f2f3f5;
  font-size: 18px;
  font-weight: bold;
}

.navbar-logo:hover,
.navbar-link:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.login-btn {
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #f0f0f0; /* Lighter background on hover */
  background: rgb(69, 68, 68);
  color: white !important;
  transform: scale(1.05); /* Slightly enlarges the button */
}
.navbar .navbar-brand,
.navbar .nav-link {
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.navbar .navbar-brand.border,
.navbar .nav-link.border {
  border: 2px solid black; /* Highlight the active tab */
}

.navbar .navbar-brand,
.navbar .nav-link {
  border: none; /* Default for inactive buttons */
}
.navbar-logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 15vh; /* Adjust as needed */
  height: auto;
  object-fit: contain; /* Ensures the logo scales nicely */
  margin-right: 10px;
}
.logo-img:hover{
  transform: scale(1.05);
}
.container-fluid{
  padding: 0px 0px !important;
}
/* Shiny Text Effect */
.shiny-text {
  position: relative;
  display: inline-block;
  color: #000;
  font-weight: bold;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.shiny-text:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  transform: skewX(-45deg);
  animation: shiny 5s infinite;
}

@keyframes shiny {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
