.home-btn {
  transition: all 0.3s ease-in-out;
}

.home-btn:hover {
  background-color: #f0f0f0; /* Lighter background on hover */
  background: linear-gradient(135deg, #f8f9fa, #e6ebef);
  box-shadow: 0px 0px 20px rgb(13, 86, 205); /* Glow effect */
  transform: scale(1.05); /* Slightly enlarges the button */
}
.about-btn {
  transition: all 0.3s ease-in-out;
}
.about-btn:hover {
  background-color: #f0f0f0; /* Lighter background on hover */
  background: linear-gradient(135deg, #f8f9fa, #e6ebef);
  box-shadow: 0px 0px 20px rgb(13, 86, 205); /* Glow effect */
  transform: scale(1.05); /* Slightly enlarges the button */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
 
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-logo,
.navbar-link {
  text-decoration: none;
  color: #f2f3f5;
  font-size: 18px;
  font-weight: bold;
}

.navbar-logo:hover,
.navbar-link:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.login-btn {
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #f0f0f0; /* Lighter background on hover */
  background: linear-gradient(135deg, #f8f9fa, #e6ebef);
  box-shadow: 0px 0px 20px rgb(13, 86, 205); /* Glow effect */
  transform: scale(1.05); /* Slightly enlarges the button */
}
